<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>FUNCOOKER</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/assets/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   
      <link rel="stylesheet" href="/static/assets/css/style.css">

</head>

<body>
 <div class="container">
        <img class = "img-responsive" src="/static/assets/img/fun-cooker-preview.jpg"/>
    </div>
    <div class = "container">
    <h1>
        <center>REQUEST FROM DA FUN COOKER</center>
    </h1>
    </div>
 <div class= "container">
  <div class="login-page">
  <div class="form">
    <form action = "/process_request" method = "POST" class="login-form">
      <input name = "text_2" placeholder="What TV Show or Movie Do you want?"/>
        <button type = "submit">SEND TO ZACHY POO SAN</button>
      <!--<a href="./landing.html" class="button">Login</a>-->
    </form>
  </div>
</div>
     </div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script  src="/static/assets/js/index.js"></script>

</body>
</html>
